
  #headContainer2 {
  	height: 85px;
  	background-image: url("http://denys.firefeather.net/layer45.png");
  	background-repeat: no-repeat;
  	background-position: 0px -140px;
  }

  #para {
  	  background-color: #D3D3D3;
  	  height: 457px;
  }